.menu__menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--menu-item-height);
  width: var(--menu-item-width);
  border-left: var(--placeholder-border-left);
}

.menu__menu-item:hover,
.menu__menu-item--selected {
  background: var(--selected-item-background-color-fallback);
  background: var(--selected-item-background-gradient);
  border-left: var(--selected-item-border-left);
}
