.menu {
  display: flex;
  flex-direction: column;
  margin-top: 50%;
  height: 50%;
  width: 100%;
  justify-content: center;
  gap: 0.2rem;
}

.menu-wrapper {
  height: 100%;
  width: var(--menu-width);
}
