.interface-configuration {
  flex: 1;
}

.interface-configuration__form {
  margin: 8% auto 0 auto;
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "interface_name enable"
    "communicator_input_label communicator_input"
    "file_upload_label file_upload"
    "select_pubkey_label select_pubkey"
    "apply_button apply_button";
  grid-template-rows: 15% 15% 15% 15% 40%;
  justify-items: center;
  align-items: center;
}

.form__enabled {
  grid-area: enable;
}

.form__interface_name {
  grid-area: interface_name;
}

.form__communicator_input {
  width: 100%;
  grid-area: communicator_input;
  color: black;
}

.form__communicator_input_label {
  grid-area: communicator_input_label;
}

.form__select_pubkey {
  grid-area: select_pubkey;
  width: 100%;
}

.form__select_pubkey_label {
  grid-area: select_pubkey_label;
}

.form__communicator_file_upload_button {
  grid-area: file_upload;
  width: 100%;
  height: 70%;
  margin: 0 auto;
}

.form__communicator_file_upload_button_label {
  grid-area: file_upload_label;
}

.form__apply {
  grid-area: apply_button;
  width: 40%;
  height: 2.5rem;
  background-color: var(--primary-color);
  outline: 2px solid white;
  transition: var(--button-hover-outline);
  padding: 2px 0 0 0;
}

.form__apply:hover {
  outline-offset: var(--button-hover-outline-offset);
}

button:disabled {
  background: rgb(192, 192, 192);
  border-color: rgb(192, 192, 192);
  color: rgba(0, 0, 0, 0.4);
}

button {
  border: none;
  text-decoration: none;
  background: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  cursor: pointer;
  transition: background 140ms ease-in-out, transform 140ms ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: var(--primary-color);
}

button:active {
  transform: scale(0.99);
}
