.interface-configuration {
  flex: 1;
}

.interface-configuration__form {
  margin: 10% auto 0 auto;
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "enable_label enable"
    "controller_input_label controller_input"
    "file_upload_label file_upload"
    "select_pubkey_label select_pubkey"
    "apply_button apply_button";
  grid-template-rows: 15% 15% 15% 15% 15%;
  justify-items: center;
  align-items: center;
}

.form__enabled {
  grid-area: enable;
}

.form__enabled_label {
  grid-area: enable_label;
}

.form__controler_input {
  width: 100%;
  grid-area: controller_input;
  color: black;
}

.form__controler_input_label {
  grid-area: controller_input_label;
}

.form__select_pubkey {
  grid-area: select_pubkey;
  width: 100%;
}

.form__select_pubkey_label {
  grid-area: select_pubkey_label;
}

.form__controler_file_upload_button {
  grid-area: file_upload;
  width: 100%;
  height: 70%;
  margin: 0 auto;
}

.form__controler_file_upload_button_label {
  grid-area: file_upload_label;
}

.form__apply {
  grid-area: apply_button;
  width: 60%;
  height: 2rem;
}
