.tool-menu__form--invisible {
  display: none;
}

.tool-menu__form--visible {
  display: inline-block;
}

.tool-menu__new-tool {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  border-left: var(--placeholder-border-left);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

.tool-menu__new-tool-input {
  width: 90%;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.tool-menu__input-confirmation-button {
  display: none;
}
