@import "normalize.css/normalize.css";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  
  color: #f6f6f6;
  background-color: var(--background-color);
  --primary-color: #00e4d4;
  --background-color: #212121;

  --button-hover-outline: outline-offset 200ms ease;
  --button-hover-outline-offset: -6px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --menu-separator-color: #e6e6e615;
  --menu-item-height: 4rem;
  --menu-width: 4rem;
}

body,
html,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: var(--background-color);
  }
}
